normalize()
box-sizing-reset()
@require 'utils/consts'
@require 'utils/functions'

helvetica = 'Helvetica Neue', Helvetica, Arial, sans-serif

body
  height 667px
  width 350px
  overflow hidden
  padding 0
  margin 0
  font-family helvetica

// Menu Bar
@require 'menu-bar/MenuBar'
@require 'nav-bar/nav'
