html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.horizontal-menu {
  text-align: center;
}
.horizontal-menu li {
  display: inline-block;
  width: 25%;
}
.icon-button {
  text-align: center;
}
.icon-button.selected img {
  display: none;
}
.icon-button.selected img.selected {
  display: block;
}
.icon-button.selected span {
  color: #c1b183;
}
.icon-button img.selected {
  display: none;
}
.icon-button span,
.icon-button img {
  display: block;
}
.icon-button span {
  color: #a8a8a8;
}
.icon-button img {
  width: auto;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}
body {
  height: 667px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu-bar {
  border-top: 1px solid #a8a8a8;
  max-height: 100px;
  background: #f5f5f5;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#menu-bar a {
  display: block;
  width: 100%;
  padding: 10px 0;
}
#menu-bar a span {
  line-height: 1;
  font-weight: 300;
  font-size: 12px;
}
#sort-menu {
  background: #073464;
  box-shadow: 0 3px 4px #b3b3b3;
}
#sort-menu:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -height;
  right: 10px;
  width: 30px;
  height: 30px;
  background: #073464;
  border-radius: 0 0 10px 10px;
}
#sort-menu ul {
  display: table;
  width: 100%;
}
#sort-menu li {
  display: table-cell;
  vertical-align: middle;
}
#sort-menu a {
  padding: 10px 0;
  display: block;
  font-size: 20px;
  font-weight: 300;
}
#sort-menu img {
  height: 25px;
  margin: 0 auto;
}
nav.nav {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
  background-color: #c2b280;
  color: #fff;
  height: 11.244vh;
  overflow: auto;
  width: 100vw;
}
.nav_button {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
}
.nav_button img {
  padding-left: 17%;
  padding-top: 17%;
}
.nav_title {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
  text-align: center;
}
.nav_title p {
  font-size: 1.3em;
}
