html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
button {
  outline: none;
}
.horizontal-menu {
  text-align: center;
}
.horizontal-menu li {
  display: inline-block;
  width: 25%;
}
.icon-button {
  text-align: center;
}
.icon-button.selected img {
  display: none;
}
.icon-button.selected img.selected {
  display: block;
}
.icon-button.selected span {
  color: #c1b183;
}
.icon-button img.selected {
  display: none;
}
.icon-button span,
.icon-button img {
  display: block;
}
.icon-button span {
  color: #a8a8a8;
}
.icon-button img {
  width: auto;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.list-item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  line-height: 1;
  position: relative;
  z-index: 1;
  padding-left: 15px;
}
.list-item.Tappable-active {
  -webkit-transition: background-color 10ms linear 10ms;
  -o-transition: background-color 10ms linear 10ms;
  -webkit-transition: background-color 10ms linear 10ms;
  transition: background-color 10ms linear 10ms;
  background-color: #d9d9d9;
}
.list-item.Tappable-inactive {
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}
.list-item.is-tappable:after {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-size: inherit;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ccc;
  content: "\f125";
  font-size: 16px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: absolute;
  right: 15px;
  top: 0;
}
.list-item:last-child .item-inner {
  border-bottom: none;
}
.list-item.has-border-bottom .item-inner {
  border-bottom: 1px solid #bfbfc3;
  border-bottom-width: 0.5px;
}
.list-item.has-border-top .item-inner {
  border-top: 1px solid #bfbfc3;
  border-top-width: 0.5px;
}
.-item:hover,
.list-item:active,
.list-item:focus {
  color: #000;
  text-decoration: none;
}
.item-inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  min-height: 44px;
  padding: 12px 15px 12px 0;
  width: 100%;
}
.item-inner:after {
  width: 100%;
  height: 1px;
  background-color: #bfbfc3;
  bottom: -1px;
  content: " ";
  left: 0;
  position: absolute;
}
.align-children-bottom > .item-inner {
  -webkit-align-items: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.item-media {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  min-width: 29px;
}
.item-media + .item-inner {
  margin-left: 15px;
}
.item-content.row-children {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.item-title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.item-subtitle {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
  font-size: 85%;
  font-weight: 300;
  margin-bottom: -1px;
  padding-bottom: 1px;
}
.center-align-left,
.center-align-right {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
}
.center-align-left {
  left: 15px;
}
.center-align-right {
  right: 15px;
}
.item-note {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.item-note.default {
  color: #999;
}
.item-note.default .item-note-icon {
  color: #ccc;
}
.item-note.primary {
  color: #007aff;
}
.item-note-label {
  white-space: nowrap;
}
.item-note-icon {
  margin-left: 7.5px;
}
.item-note-icon:before {
  font-size: 16px;
}
.item-icon {
  display: inline-block;
  vertical-align: middle;
  width: 29px;
  height: 29px;
  border-radius: 8px;
  line-height: 29px;
  text-align: center;
}
.item-icon:before {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  font-size: 24px;
  height: 100%;
}
.item-icon.left {
  left: 15px;
}
.item-icon.left.flush {
  left: 0;
}
.item-icon.right {
  right: 15px;
}
.item-icon.right.flush {
  right: 0;
}
.item-icon.rounded {
  border-radius: 8px;
  background-color: #efeff4;
}
.item-icon.primary-inverted {
  background-color: #007aff;
  color: #fff;
}
.item-icon.primary {
  color: #007aff;
}
.item-icon.default {
  background-color: #efeff4;
  color: #000;
}
.item-icon.ion-load-a:before,
.item-icon.ion-load-b:before,
.item-icon.ion-load-c:before,
.item-icon.ion-load-d:before {
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.list-avatar {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #b3b3b3;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  line-height: 40px;
  left: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
}
.list-avatar > img {
  border-radius: 50%;
  display: block;
  height: auto;
  max-width: 100%;
}
.list-header {
  background-color: #efeff4;
  color: #4d4d4d;
  display: block;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding: 6px 15px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}
.list-header:before {
  top: -1px;
  -webkit-transform-origin: 0 bottom;
  -moz-transform-origin: 0 bottom;
  -ms-transform-origin: 0 bottom;
  -webkit-transform-origin: 0 bottom;
  -ms-transform-origin: 0 bottom;
  transform-origin: 0 bottom;
}
.list-header:after {
  bottom: -1px;
  -webkit-transform-origin: 0 top;
  -moz-transform-origin: 0 top;
  -ms-transform-origin: 0 top;
  -webkit-transform-origin: 0 top;
  -ms-transform-origin: 0 top;
  transform-origin: 0 top;
}
.list-header:after,
.list-header:before {
  width: 100%;
  height: 1px;
  background-color: #bfbfc3;
  content: " ";
  left: 0;
  position: absolute;
}
body {
  height: 667px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu-bar {
  border-top: 1px solid #a8a8a8;
  max-height: 100px;
  background: #f5f5f5;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#menu-bar a {
  display: block;
  width: 100%;
  padding: 10px 0;
}
#menu-bar a span {
  line-height: 1;
  font-weight: 300;
  font-size: 12px;
}
#sort-menu {
  background: #073464;
  box-shadow: 0 3px 4px #b3b3b3;
  position: relative;
  top: -46px;
  z-index: 1;
  -webkit-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out;
}
#sort-menu.open {
  top: 0;
}
#sort-menu .toggle {
  display: block;
  position: absolute;
  bottom: -h;
  height: 30px;
  right: 10px;
  width: 30px;
  background: #073464;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 3px 4px #b3b3b3;
  border: none;
  cursor: pointer;
}
#sort-menu ul {
  display: table;
  width: 100%;
}
#sort-menu li {
  display: table-cell;
  vertical-align: middle;
}
#sort-menu a {
  padding: 10px 0;
  display: block;
  font-size: 20px;
  font-weight: 300;
}
#sort-menu img {
  height: 25px;
  margin: 0 auto;
}
nav.nav {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: block;
  width: 100.83333333333331%;
  margin: 0 -0.4166666666667%;
  background-color: #c2b280;
  color: #fff;
  height: 11.244vh;
  overflow: auto;
  width: 100vw;
  position: relative;
  z-index: 2;
  margin: 0;
}
.nav_button {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
}
.nav_button img {
  padding-left: 17%;
  padding-top: 17%;
}
.nav_title {
  display: inline-block;
  float: left;
  overflow: hidden;
  width: 32.5%;
  margin: 0 0.4166666666667%;
  text-align: center;
}
.nav_title p {
  font-size: 1.3em;
}
