gold = #C1B183
txt-gray = #A8A8A8

button
  outline none

.horizontal-menu
  text-align center
  li
    display inline-block
    width 25%

.icon-button
  text-align center

  &.selected
    img
      display none
    img.selected
      display block
    span
      color gold

  img.selected
    display none

  span
  img
    display block

  span
    color txt-gray

  img
    width auto
    height 30px
    margin 0 auto
    margin-bottom 5px


