navy = #073464
shadow = 0 3px 4px lighten(black, 70%)

#sort-menu
  background navy
  box-shadow shadow
  position relative
  top -46px
  z-index 1
  transition top 0.2s ease-out

  &.open
    top 0

  .toggle
    h = 30px
    display block
    position absolute
    bottom -height
    right 10px
    width 30px
    height h
    background navy
    border-radius 0 0 10px 10px
    box-shadow shadow
    border none
    cursor pointer

  ul
    display table
    width 100%

  li
    display table-cell
    vertical-align middle

  a
    padding 10px 0
    display block
    font-size 20px
    font-weight 300

  img
    height 25px
    margin 0 auto

